# Loading CSV

In [1]:
import pandas as pd

In [2]:
!ls data

'01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls'   results.csv    train.csv
 AccidentesBicicletas_2019.csv		      results.xls
 houses.csv				      results.xlsx

In [3]:
!head data/AccidentesBicicletas_2019.csv

In [4]:
pd.read_csv('./data/AccidentesBicicletas_2019.csv', encoding='latin1')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 42, saw 2

In [5]:
df =pd.read_csv('./data/AccidentesBicicletas_2019.csv', encoding='latin1',sep=';')
type(df)

pandas.core.frame.DataFrame

In [26]:
pd.Series(df.columns).str.lower().str.replace('','').str.split().apply(lambda x: x[-1])

0        expediente
1             fecha
2              hora
3             calle
4            número
5          distrito
6         accidente
7     metereológico
8          vehículo
9           persona
10             edad
11             sexo
12       lesividad*
dtype: object

# Saving to Excel

In [15]:
df.to_excel('data/results.xls')

In [16]:
df.to_excel('data/results.xlsx')

# Saving to CSV

In [18]:
df.to_csv('data/results.csv', sep=";")

In [19]:
df.to_csv('data/results.csv', sep="^")

# Reading Excel

In [25]:
pd.read_excel('data/01_ ACCIDENTES POR TIPO EN  DISTRITOS.xls', sheet_name='2010', skiprows=7, index_col=0,
             usecols="A:K", skipfooter=1)

,COLISIÓN DOBLE,COLISIÓN MÚLTIPLE,CHOQUE CON OBJETO FIJO,ATROPELLO,VUELCO,CAÍDA MOTOCICLETA,CAÍDA CICLOMOTOR,CAÍDA BICICLETA,CAÍDA VIAJERO BUS,OTRAS CAUSAS
DISTRITO_ACCIDENTE,,,,,,,,,,
ARGANZUELA,403,48,103,75,7,26,15.0,2.0,5.0,6.0
BARAJAS,62,5,34,22,1,11,NaN,NaN,NaN,NaN
CARABANCHEL,357,35,133,114,7,22,14.0,6.0,7.0,1.0
CENTRO,546,43,142,169,2,60,14.0,9.0,13.0,9.0
CHAMARTIN,460,67,128,85,11,77,16.0,1.0,8.0,5.0
CHAMBERI,361,34,86,103,1,66,14.0,5.0,2.0,4.0
CIUDAD LINEAL,404,79,120,90,8,39,12.0,6.0,7.0,2.0
FUENCARRAL-EL PARDO,294,49,165,72,10,26,9.0,6.0,3.0,2.0
HORTALEZA,183,15,68,44,4,11,8.0,4.0,3.0,3.0
LATINA,273,37,93,94,6,24,4.0,7.0,10.0,4.0
MONCLOA-ARAVACA,350,47,177,75,10,45,9.0,6.0,9.0,11.0
MORATALAZ,127,21,58,33,6,13,5.0,2.0,2.0,1.0
PUENTE DE VALLECAS,324,44,157,107,7,20,9.0,3.0,8.0,7.0
RETIRO,349,55,33,57,2,45,12.0,7.0,7.0,5.0
SALAMANCA,506,44,131,89,6,89,19.0,1.0,9.0,6.0
SAN BLAS,274,27,62,66,2,22,6.0,2.0,5.0,2.0
TETUAN,331,25,87,89,3,47,13.0,6.0,4.0,3.0
USERA,178,36,78,78,4,14,2.0,4.0,NaN,4.0
VICALVARO,65,4,60,22,3,16,NaN,1.0,1.0,5.0
VILLA DE VALLECAS,124,9,63,32,8,9,3.0,1.0,NaN,3.0
VILLAVERDE,147,21,58,54,2,9,4.0,2.0,2.0,1.0

#### Homework

Consolidate the excel into one DataFrame: you will need to create a 'YEAR' column. Think how you can iterate through all the DataFrames. Think also where you can take the value of 'YEAR' from.

# To Sql Database

In [27]:
import sqlite3

connection = sqlite3.connect('newdb.db')

In [28]:
df.to_sql('mynewtable', con=connection, if_exists='replace')

/home/bsanse/anaconda3/envs/kschool_mds_19/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

# To dictionary and to json

In [29]:
df.head().to_dict()

{'Nº  EXPEDIENTE': {0: '2019S000659',
  1: '2019S000036',
  2: '2019S000133',
  3: '2019S000132',
  4: '2019S000132'},
 'FECHA': {0: '01/01/2019',
  1: '02/01/2019',
  2: '03/01/2019',
  3: '03/01/2019',
  4: '03/01/2019'},
 'HORA': {0: '14:00', 1: '20:45', 2: '14:30', 3: '12:45', 4: '12:45'},
 'CALLE': {0: 'CALL. CASTELLO / CALL. DON RAMON DE LA CRUZ',
  1: 'AVDA. GRAN VIA DE HORTALEZA / GTA. LUIS ROSALES',
  2: 'CALL. FELIPE ALVAREZ',
  3: 'AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA',
  4: 'AVDA. SANTA EUGENIA / CALL. REAL DE ARGANDA'},
 'NÚMERO': {0: '-', 1: '-', 2: '10', 3: '-', 4: '-'},
 'DISTRITO': {0: 'SALAMANCA',
  1: 'HORTALEZA',
  2: 'VILLA DE VALLECAS',
  3: 'VILLA DE VALLECAS',
  4: 'VILLA DE VALLECAS'},
 'TIPO ACCIDENTE': {0: 'Alcance',
  1: 'Colisión fronto-lateral',
  2: 'Alcance',
  3: 'Alcance',
  4: 'Alcance'},
 'ESTADO METEREOLÓGICO': {0: 'Despejado',
  1: 'Despejado',
  2: 'Se desconoce',
  3: 'Despejado',
  4: 'Despejado'},
 'TIPO VEHÍCULO': {0: 'Bicicleta',
  1: 'Bicicleta',
  2: 'Bicicleta',
  3: 'Bicicleta',
  4: 'Bicicleta'},
 'TIPO PERSONA': {0: 'Conductor',
  1: 'Conductor',
  2: 'Conductor',
  3: 'Conductor',
  4: 'Conductor'},
 'RANGO DE EDAD': {0: 'DE 25 A 29 AÑOS',
  1: 'DE 70 A 74 AÑOS',
  2: 'DE 15 A 17 AÑOS',
  3: 'DE 18 A 20 AÑOS',
  4: 'DE 21 A 24 AÑOS'},
 'SEXO': {0: 'Hombre', 1: 'Hombre', 2: 'Hombre', 3: 'Hombre', 4: 'Hombre'},
 'LESIVIDAD*': {0: 1.0, 1: 3.0, 2: 7.0, 3: 7.0, 4: 14.0}}

In [30]:
df.head().to_json()

'{"N\\u00ba  EXPEDIENTE":{"0":"2019S000659","1":"2019S000036","2":"2019S000133","3":"2019S000132","4":"2019S000132"},"FECHA":{"0":"01\\/01\\/2019","1":"02\\/01\\/2019","2":"03\\/01\\/2019","3":"03\\/01\\/2019","4":"03\\/01\\/2019"},"HORA":{"0":"14:00","1":"20:45","2":"14:30","3":"12:45","4":"12:45"},"CALLE":{"0":"CALL. CASTELLO \\/ CALL. DON RAMON DE LA CRUZ","1":"AVDA. GRAN VIA DE HORTALEZA \\/ GTA. LUIS ROSALES","2":"CALL. FELIPE ALVAREZ","3":"AVDA. SANTA EUGENIA \\/ CALL. REAL DE ARGANDA","4":"AVDA. SANTA EUGENIA \\/ CALL. REAL DE ARGANDA"},"N\\u00daMERO":{"0":"-","1":"-","2":"10","3":"-","4":"-"},"DISTRITO":{"0":"SALAMANCA","1":"HORTALEZA","2":"VILLA DE VALLECAS","3":"VILLA DE VALLECAS","4":"VILLA DE VALLECAS"},"TIPO ACCIDENTE":{"0":"Alcance","1":"Colisi\\u00f3n fronto-lateral","2":"Alcance","3":"Alcance","4":"Alcance"},"ESTADO METEREOL\\u00d3GICO":{"0":"Despejado","1":"Despejado","2":"Se desconoce","3":"Despejado","4":"Despejado"},"TIPO VEH\\u00cdCULO":{"0":"Bicicleta","1":"Bicicleta","2":"Bicicleta","3":"Bicicleta","4":"Bicicleta"},"TIPO PERSONA":{"0":"Conductor","1":"Conductor","2":"Conductor","3":"Conductor","4":"Conductor"},"RANGO DE EDAD":{"0":"DE 25 A 29 A\\u00d1OS","1":"DE 70 A 74 A\\u00d1OS","2":"DE 15 A 17 A\\u00d1OS","3":"DE 18 A 20 A\\u00d1OS","4":"DE 21 A 24 A\\u00d1OS"},"SEXO":{"0":"Hombre","1":"Hombre","2":"Hombre","3":"Hombre","4":"Hombre"},"LESIVIDAD*":{"0":1.0,"1":3.0,"2":7.0,"3":7.0,"4":14.0}}'

# Reading mysql database

In [31]:
pd.read_sql_query("SELECT FECHA, HORA FROM mynewtable WHERE SEXO = 'Hombre' LIMIT 10", connection)

        FECHA   HORA
0  01/01/2019  14:00
1  02/01/2019  20:45
2  03/01/2019  14:30
3  03/01/2019  12:45
4  03/01/2019  12:45
5  03/01/2019  10:30
6  04/01/2019  17:10
7  04/01/2019  13:35
8  07/01/2019  14:00
9  08/01/2019  20:55